<div id="Covid-DowJones-Visualizer-content"style="display: none">
    <h2>COVID13, DowJones, and M2Real Stock Timeline</h2>
    <div >
        {% include "/components/covid-fig.html" %}
    </div>
    <h3>What are you looking at?</h3>
    <h4>This is a visualization of three data sets that span the same date range from January 22, 2020 to March 9, 2023. These dates encompass major events during the beginning, height, and end of the pandemic, which show a comparison of how the rising number of confirmed covid cases, the total physical money stock, and major worldwide COVID19 events had an effect on the closing stock prices of the DowJones.</h4>
    
    <h4>
        Want to see the code? Click <a href="https://github.com/coltongerth/covid-dow-comp/tree/main">Here</a>
    </h4>
</div>
