<div id="Fuelcast-content" style="display: none">
    <h2>Fuelcast</h2>
    <br>
    <h3>What is Fuelcast?</h3>
    <h4>Fuelcast is a map-based resource that leverages Google Earth Engine and Tensorflow to process near real-time weather and remote sensing data, providing in season forecast estimates of the magnitude and timing of annual production and fuel across coterminous U.S. rangelands. Users can access several cutting-edge information products, with detailed reports in development. The tool provides free, near real-time information to rangeland managers, fire specialists, and producers to act on in a timely manner.</h4>
    <br>
    <h3>Who uses Fuelcast?</h3>
    <h4>List of users goes here</h4>
    <br>
    <h3>What were my contributions?</h3>
    <h4>My contributions go here</h4>
</div>