<div id="Profile-content" style="display:none">
    <h2>Profile</h2>

    <p style="width: 100%; overflow: wrap; background-color: pink;">

        Colton Gerth is a solutions-driven Software Engineer with over 2 years of experience specializing in Python and web-based
        application development.

        <br>

        He has collarborated and developed several web-based programs that are in use by scientific organizations 
        such as the United States Forest Service, the Bureau of Land Management and the University of Oregon.
    </p>

</div>