
  @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --font-roboto: Roboto, san-serif;
  --font-lora: Lora, serif;
  --bg: #D4D2CE;
  --text: #28282A;
}

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    overflow: none;
    scroll-behavior: smooth;

  }

  body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-roboto);

  }

  main {
  padding: 20px;
  padding-left: 100px;

  }
  ul, li {
    list-style: none;
  }

  .desktop-nav {
    position: fixed;
    float:left;
    height: 100vh;
    width: 80px;
    background-color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.5s;
    z-index: 1000;
  }

  .desktop-nav.expanded {
    width: 50vw;
}

  .nav__menu {
    position: absolute;
    top: 50%;
    /* left: 5px; */
  }

  .menu_content {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--bg);
    font-size: 1em;
    text-align: center;
    font-weight: 500;
    width: 80px;
    margin: auto;
    transition: opacity 0.5s ease;
    opacity: 0;
    cursor:pointer;
}

.menu_content.active {
    opacity: 1;
}


  .nav__socials {
    position: absolute;
    bottom: 20px;
    width: fit-content;
    width: 80px;
    margin: auto;

  }

  .nav__socials a img {
    width: auto;
    height: 100%;
    
  }

  .nav__socials-icon {
    height: 40px;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
  }

  .nav__avatar img{
    height: auto;
    width: 100%;
  }
  .nav__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
  }



.expandedMenuContent {
  display: block;
  color: white; 
  position: absolute;
  top: 0;
  left: 80px;
  margin: 20px;

}
.expandedMenuContent li {
  margin-bottom: 1em;
}
.expandedMenuContent a {
  display: block;
 

}

#hoverBox {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  z-index: 1000;
  pointer-events: none; /* This makes sure the box doesn't interfere with other mouse events */
}

  /* .side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--text);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;C
}

.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #f1f1f1;
}

.side-menu .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} */

  
  .app-body {
    min-height: 100vh;
    font-size: calc(5px + 2vmin);
    background-color: var(--bg);
  }
  
  .logo-holder {
    float: right;
    padding: 10px;
  }

  .logo-holder a {
    display: inline-block;
    width: 40px;
    height: auto;
  }

  .logo-holder img {
    width: 100%;
    height: 100%;
    }

  .logo-holder ul{
    display:flex;
  }
  .logo-holder ul li{
    list-style: none;
    padding-left: 10px;
    
  }

  .projects-section {
    background-color: coral;
  }

  .projects-section h1 {
    --base-width: 4.2vw;
    font-size: clamp(10px, var(--base-width), 300px);
    font-weight: 400;
    /* letter-spacing: -0.15rem; */
    line-height: 1.2;
    text-align: center;
    /* margin: 100px 0; */
    white-space: nowrap;
  }
  

  .projects-section ul{
    display:column;
    text-align: center;
  }
  .projects-section a{
    text-decoration:none;
    color: var(--text);
  }
  .projects-section ul li{
    cursor:pointer;
    list-style: none;
    text-align: center;
    padding: 10px;
  }
  .projects-section a:hover{
    /* font-weight:bold; */
    text-decoration:none;
    border-bottom:1px solid #ccc;
  }
  .projects-section h2{
    list-style: none;
    text-align: center;
    padding: 10px;
    /* padding-left: 10px; */
    
  }

  .project-link{
    cursor:pointer;
  }

  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    /* background: white; */
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .info h4 {
      margin: 0 0 5px;
      color: black;
  }
  .info {
    margin: 0 0 5px;
    color: black;
}
  .app-header {
      /* background-color: #282c34; */
      min-height: 10vh;
      font-size: calc(10px + 2vmin);
      /* color: white; */
  }
  .slider {
    width: 100%;
  }
  
  section{
  display:flex;
  width:100%;
  padding-top: 20vh;
  }
  /* main{
    width:60%;
  }
  aside{
    width:35%;
  } */

  

  .welcome-body h1 {
    --base-width: 8.2vw;
    font-size: clamp(20px, var(--base-width), 700px);
    font-weight: 700;
    /* letter-spacing: -0.15rem; */
    line-height: 1.2;
    text-align: center;
    /* margin: 100px 0; */
    white-space: nowrap;
    /* top: -10vw; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
  }

  .welcome-body h2 {
    --base-width: 4vw;
    font-size: clamp(20px, var(--base-width), 700px);
    font-weight: 500;
    /* letter-spacing: -0.15rem; */
    line-height: 1.2;
    text-align: center;
    /* margin: 100px 0; */
    white-space: nowrap;
    /* top: -10vw; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
  }

  .welcome-body h4 {
    --base-width: 8.2vw;
    /* font-size: clamp(20px, var(--base-width), 300px); */
    font-weight: 300;
    /* letter-spacing: -0.15rem; */
    line-height: 1.2;
    text-align: left;
    font-family: roboto;
    /* margin: 100px 0; */
    /* white-space: nowrap; */
  }
  .figure-holder {
    width: 100%;
    height: 800px;
  }
  /* .colton-description {
    padding-left: 20vw;
  } */

  .slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  .slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  .slide-fc {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
  }

  .slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.slide-img-holder {
  height:600px;
  width:800px;
  text-align: center;
  overflow: hidden;
  background-color: pink;
}

.slide-fc .slide-img-holder img{

  contain: cover;
  width: auto;
  height: 100%;
  
}

.slide-hc {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}
.slide-hc img{
  width: 90%;
  height: 90%;
}
  .slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: var(--text);
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }
  .slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
  }
  #slide-arrow-prev-fc {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }
  #slide-arrow-next-fc  {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  }

  #slide-arrow-prev-hc  {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }
  #slide-arrow-next-hc  {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  }
  /* @media only screen and (max-width: 950px) {
    .logo-holder {
      float: right;
      width: 80px;
      height: auto;
      padding: 10px;
      }
    
    .app-header {
        background-color: #282c34;
        min-height: 10vh;
        font-size: calc(10px + 2vmin);
        color: white;
      }
    } */
    @media only screen and (max-width: 600px) {
      .logo-holder {
        padding: 15px;
        }
      .app-header {
        min-height: 13vh;
      }
    }