<h2>Collaborative Projects</h2>
<ul>
    <li>
        <h4><a class="project-link" value="Fuelcast">Fuelcast</a></h4>
    </li>
    <li>
        <h4><a class="project-link" value="HWPCarbon" >HWPCarbon</a></h4>
    </li>
</ul>
<h2>Personal Projects</a></h2>
<ul>
    <li>
        <h4><a class="project-link" value="Global-Temperature-Visualizer" id="t-project">Global Change in Temperature over Time</a></h4>
    </li>
    <li>
        <h4><a class="project-link" value="Covid-DowJones-Visualizer">COVID13, DowJones Price, and M2Real Stock Timeline</a></h4>
    </li>
</ul>