<ul>
    <li style="margin-left:2em;"><a class="text-decoration: none; color: var(--text);" href="/">Home</a></li>
    <li style="margin-left:2em;"><a class="project-link" value="Profile">Profile</a></li>

    <li>Collaborated Work</li>
    <li style="margin-left:2em;"><a class="project-link" value="FVS">(FVS) Forest Vegetation Simulator</a></li>
    <li style="margin-left:2em;"><a class="project-link" value="RPMS">(RPMS) Rangeland Productivity Monitoring Service</a></li>
    <li style="margin-left:2em;"><a class="project-link" value="Fuelcast">Fuelcast</a></li>
    <li style="margin-left:2em;"><a class="project-link" value="HWPCarbon">HWPCarbon</a></li>
    <li style="margin-left:2em;"><a class="project-link" value="Forsys-shiny">Forsys Shiny</a></li>
    <li>Projects</li>
    <li style="margin-left:2em;"><a class="project-link" value="Global-Temperature-Visualizer" id="t-project">Global Change in Temperature over Time</a></li>
    <li style="margin-left:2em;"><a class="project-link" value="Covid-DowJones-Visualizer">Covid19, DowJones Price, and M2Real Stock Timeline</a></li>
    <li style="margin-left:2em;"><a class="project-link" value="">Forest Health and Wildfire Risk Assessment w/ ML & AI</a></li>
    <li style="margin-left:2em"><a class="project-link" value="">Big-Data CSV Complier</a></li>
    <li style="margin-left:2em"><a class="project-link" value="RPMSCutter">RPMS Cutter</a></li>


   </ul>

